@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root[data-theme="iot-dark-purple"] {
}

:root[data-theme="dark"] {
}

:root, :root[data-theme="iot-dark-pink"] {
    --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;

    --base-text-color: #EAEAEA;
    --base-text-muted-color: #6B6B78;
    --base-text-dim-color: #9898A8;
    --base-text-reverse-color: #171717;
    --base-background-color: #0F0F11;
    --base-background-gradient: linear-gradient(315deg, #272730 0%, #32323E 100%);
    --base-background-hover-gradient: linear-gradient(135deg, #927DE6 0%, #ED4F99 100%);
    --base-background-active-gradient: linear-gradient(135deg, #6D42CF 0%, #ED4F99 100%);
    --base-button-text-color: #FFFFFF;
    --base-surface-color: #202028;
    --base-surface-contrast-color: #3F3F54;
    --base-border-color: #444444;
    --base-border-radius: 0.5rem;
    --base-outline-color: #FFFFFF;
    --base-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    --base-primary-color: #9D72FF;
    --base-primary-hover-color: #6D42CF;
    --base-secondary-color: #5C6178;
    --base-secondary-hover-color: #3C4158;
    --base-success-color: #21736E;
    --base-success-hover-color: #01534E;
    --base-info-color: #2B7BB5;
    --base-info-hover-color: #0B5B95;
    --base-warn-color: #C07A1A;
    --base-warn-hover-color: #A05A00;
    --base-danger-color: #C03C3C;
    --base-danger-hover-color: #A01C1C;
}

:root[data-theme="iot-dark-green"] {
    --base-background-gradient: linear-gradient(315deg, #272730 0%, #32323E 100%);
    --base-background-hover-gradient: linear-gradient(135deg, #035303 0%, #0EAD0E 100%);
    --base-background-active-gradient: linear-gradient(135deg, #033303 0%, #0EAD0E 100%);
    --base-primary-color: #0EDD0E;
    --base-primary-hover-color: #0EAD0E;
}

:root[data-theme="iot-light-tomato"] {
    --base-text-color: #000000;
    --base-text-muted-color: #6B6B78;
    --base-text-dim-color: #383848;
    --base-text-reverse-color: #FAFAFA;
    --base-background-color: #FFFFFF;
    --base-background-gradient: linear-gradient(315deg, #E7E7E0 50%, #D2D2DE 100%);
    --base-background-hover-gradient: linear-gradient(315deg, #E7E7E0 0%, #E4B0C9 100%);
    --base-background-active-gradient: linear-gradient(315deg, #E05C75 0%, #DB0720 100%);
    --base-button-text-color: #FFFFFF;
    --base-surface-color: #FAFAFA;
    --base-surface-contrast-color: #CECECE;
    --base-border-color: #BBBBBB;
    --base-border-radius: 0.5rem;
    --base-outline-color: #171717;
    --base-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    --base-primary-color: #DB0720;
    --base-primary-hover-color: #BB0700;
    --base-secondary-color: #000000;
    --base-secondary-hover-color: #222222;
    --base-success-color: #11836E;
    --base-success-hover-color: #01634E;
    --base-info-color: #2B7BB5;
    --base-info-hover-color: #0B5B95;
    --base-warn-color: #D37D0D;
    --base-warn-hover-color: #B35D0D;
    --base-danger-color: #C03C3C;
    --base-danger-hover-color: #A01C1C;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-sans), sans-serif;
    font-size: var(--font-size-base);
    background: var(--base-background-color);
    color: var(--base-text-color);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Display */
.d-block        { display: block; }
.d-flex         { display: flex;}
.d-inline-block { display: inline-block; }

/* Flex */
.flex-column    { flex-direction: column; }
.flex-row       { flex-direction: row;}

/* Font size */
.text-xs        { font-size: var(--font-size-xs); }
.text-sm        { font-size: var(--font-size-sm); }
.text-base      { font-size: var(--font-size-base); }
.text-lg        { font-size: var(--font-size-lg); }
.text-xl        { font-size: var(--font-size-xl); }
.text-2xl       { font-size: var(--font-size-2xl); }
.text-3xl       { font-size: var(--font-size-3xl); }
.text-4xl       { font-size: var(--font-size-4xl); }

/* Font weight */
.font-light     { font-weight: 300; }
.font-normal    { font-weight: 400; }
.font-medium    { font-weight: 500; }
.font-semibold  { font-weight: 600; }
.font-bold      { font-weight: 700; }
.font-extrabold { font-weight: 800; }

/* Text alignment */
.text-center    { text-align: center; }
.text-left      { text-align: left; }
.text-right     { text-align: right; }

/* Spacing */
.m-0            { margin: 0; }
.mt-1           { margin-top: 0.25rem; }
.mt-2           { margin-top: 0.5rem; }
.mt-3           { margin-top: 0.75rem; }
.mt-4           { margin-top: 1rem; }
.mt-5           { margin-top: 1.25rem; }
.mt-6           { margin-top: 1.5rem; }

.mb-1           { margin-bottom: 0.25rem;}
.mb-2           { margin-bottom: 0.5rem; }
.mb-3           { margin-bottom: 0.75rem; }
.mb-4           { margin-bottom: 1rem; }
.mb-5           { margin-bottom: 1.25rem; }
.mb-6           { margin-bottom: 1.5rem; }

.p-0            { padding: 0; }
.p-1            { padding: 0.25rem; }
.p-2            { padding: 0.5rem; }
.p-3            { padding: 0.75rem; }
.p-4            { padding: 1rem; }
.p-5            { padding: 1.25rem; }
.p-6            { padding: 1.5rem; }

.py-0           { padding-top: 0; padding-bottom: 0; }
.py-1           { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.py-2           { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.py-3           { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.py-4           { padding-top: 1rem; padding-bottom: 1rem; }
.py-5           { padding-top: 1.25rem; padding-bottom: 1.25rem; }
.py-6           { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.g-0            { gap: 0; }
.g-1            { gap: 0.25rem; }
.g-2            { gap: 0.5rem; }
.g-3            { gap: 0.75rem; }
.g-4            { gap: 1rem; }
.g-5            { gap: 1.25rem; }
.g-6            { gap: 1.5rem; }

/* Typography */
h1              { padding: 1rem 0;}
h2              { padding: 1rem 0; }
h3              { padding: 1rem 0; }
h4              { padding: 1rem 0; }

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.presentation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    background-color: var(--base-surface-color);
}

/* Code */
pre {
    background-color: var(--base-surface-color);
    color: var(--base-text-color);
    padding: 1rem;
    border-left: 0.25rem solid var(--base-primary-color);
    border-radius: 0.25rem;
    font-family: monospace;
    font-size: var(--font-size-sm);
    overflow-x: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

em {
    font-weight: bold;
    font-style: normal;
    color: var(--base-primary-color);
}

table.code th {
    padding: 0.25rem;
    text-align: left;
    font-size: var(--font-size-sm);
}

table.code td {
    padding: 0.25rem;
    background-color: var(--base-surface-color);
    color: var(--base-text-color);
    font-family: monospace;
    font-size: var(--font-size-sm);
}

svg {
    image-rendering: pixelated;
}